<body class="layout-h">
  <div class="wrapper">
    <!-- top navbar-->
    <header class="topnavbar-wrapper">
      <!-- START Top Navbar-->
      <nav class="navbar topnavbar" role="navigation">
        <!-- START navbar header-->
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="brand-logo">
              <%= image_tag "z-logo.png", class: "img-responsive" , alt:"App Logo" %>
            </div>
            <div class="brand-logo-collapsed">
              <%= image_tag "z-logo-single.png", class: "img-responsive", alt:"App Logo" %>
            </div>
          </a>
        </div>
        <!-- END navbar header-->
        <!-- START Nav wrapper-->
        <div class="navbar-collapse collapse">
          <!-- START Right Navbar-->
          <ul class="nav navbar-nav navbar-right">
            <!-- Fullscreen (only desktops)-->
            <li class="visible-lg">
              <a href="#" data-toggle-fullscreen="">
                <em class="fa fa-expand"></em>
              </a>
            </li>
          </ul>
          <!-- END Right Navbar-->
        </div>
        <!-- END Nav wrapper-->
      </nav>
      <!-- END Top Navbar-->
    </header>

    <!-- Main section-->
    <section>
      <!-- Page content-->
      <div class="content-wrapper blur-teaser">
        <h3>Data Tables
          <small>Tables, one step forward.</small>
        </h3>
        <div class="container-fluid">
          <!-- START DATATABLE 1-->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">Data Tables |
                  <small>Amazon Inventory</small>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover" id="datatable1">
                      <thead>
                        <tr>
                          <th style="width:80px;">
                            <strong>ID</strong>
                          </th>
                          <th>
                            <strong>NAME</strong>
                          </th>
                          <th>
                            <strong>DESCRIPTION</strong>
                          </th>
                          <th>
                            <strong>PRICE</strong>
                          </th>
                          <th style="width:80px;">
                            <strong>QUANTITY</strong>
                          </th>
                          <th class="text-center">
                            <strong>STATUS</strong>
                          </th>
                          <th>
                            <strong>ADDED</strong>
                          </th>
                          <th class="text-center">
                            <strong>VIEW</strong>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0001</td>
                          <td>Product 1</td>
                          <td>Description for Product</td>
                          <td>$ 12.20</td>
                          <td>233</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0002</td>
                          <td>Product 2</td>
                          <td>Description for Product</td>
                          <td>$ 13.20</td>
                          <td>243</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0003</td>
                          <td>Product 3</td>
                          <td>Description for Product</td>
                          <td>$ 14.20</td>
                          <td>253</td>
                          <td class="text-center">
                            <span class="label label-danger">Removed</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0004</td>
                          <td>Product 4</td>
                          <td>Description for Product</td>
                          <td>$ 15.20</td>
                          <td>263</td>
                          <td class="text-center">
                            <span class="label label-warning">Out of Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0005</td>
                          <td>Product 5</td>
                          <td>Description for Product</td>
                          <td>$ 16.20</td>
                          <td>273</td>
                          <td class="text-center">
                            <span class="label label-danger">Removed</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0006</td>
                          <td>Product 6</td>
                          <td>Description for Product</td>
                          <td>$ 17.20</td>
                          <td>283</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0007</td>
                          <td>Product 7</td>
                          <td>Description for Product</td>
                          <td>$ 18.20</td>
                          <td>293</td>
                          <td class="text-center">
                            <span class="label label-danger">Removed</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0008</td>
                          <td>Product 8</td>
                          <td>Description for Product</td>
                          <td>$ 19.20</td>
                          <td>2103</td>
                          <td class="text-center">
                            <span class="label label-warning">Out of Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>0009</td>
                          <td>Product 9</td>
                          <td>Description for Product</td>
                          <td>$ 110.20</td>
                          <td>2113</td>
                          <td class="text-center">
                            <span class="label label-danger">Removed</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>00010</td>
                          <td>Product 10</td>
                          <td>Description for Product</td>
                          <td>$ 111.20</td>
                          <td>2123</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>00011</td>
                          <td>Product 11</td>
                          <td>Description for Product</td>
                          <td>$ 112.20</td>
                          <td>2133</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>00012</td>
                          <td>Product 12</td>
                          <td>Description for Product</td>
                          <td>$ 113.20</td>
                          <td>2143</td>
                          <td class="text-center">
                            <span class="label label-warning">Out of Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>00013</td>
                          <td>Product 13</td>
                          <td>Description for Product</td>
                          <td>$ 114.20</td>
                          <td>2153</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>00014</td>
                          <td>Product 14</td>
                          <td>Description for Product</td>
                          <td>$ 115.20</td>
                          <td>2163</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>00015</td>
                          <td>Product 15</td>
                          <td>Description for Product</td>
                          <td>$ 116.20</td>
                          <td>2173</td>
                          <td class="text-center">
                            <span class="label label-success">Stock</span>
                          </td>
                          <td>04/10/2015</td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-default" type="button">
                              <em class="fa fa-search"></em>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END DATATABLE 1-->
        </div>
      </div>

      <!-- Multi Step Form -->
      <div class="form-container text-center">
        <!-- First Form for Upload Inventory Files -->
        <div class="sync-amz">
          <div class="heading border-top">
            <h2>Sync your Amazon inventory</h2>
          </div>
          <div class="content container">

            <div class="to-amazon">
              <h4>Upload your inventory file here</h4>
              <a href="https://www.amazon.com/" target="_blank" class="btn btn-outline-primary">Obtain file here</a>
            </div>

            <div class="upload-container">
              <!-- <form action="/csv-upload" id="upload-dropzone" class="dropzone d-flex my-2 mx-2">
                <div class="dropzone-wrapper">
                  <div class="dz-default dz-message"><span>Drop files to upload</span>
                  </div>
                  <p class="or">or</p>
                  <span class="btn btn-info fileinput-button dz-clickable">
                    Choose files to upload
                  </span>
                </div>
              </form> -->
              <%= form_tag import_inventory_path, class: 'dropzone' %>
            </div>


            <div class="to-next">
              <h3>We scan your inventory for instant profit and deliver your profit total.</h3>
              <%= link_to progress_path, class: "btn btn-success show-profit" do %>
                Yes! <br> Show me the profit
              <% end %>
            </div>
          </div>
        </div> 
        
        <div class="payment-step">
          <div class="heading px-5 py-2 border-top">
            <h2>Last step ...</h1>
          </div>
          <div class="content container p-3 mb-3">
            <div class="to-amazon mx-5 px-2">
              <h4 class="mb-2">Complete &amp; access</h4>
            </div>
            <div class="card-wrapper">
              <div class="cell example example3">
                <form>
                  <div class="fieldset">
                    <input id="example3-email" data-tid="elements_examples.form.email_label" class="field half-width" type="email" placeholder="Email" required="">
                    <input id="example3-name" data-tid="elements_examples.form.name_label" class="field" type="text" placeholder="Name" required="">
                  </div>
                  <div class="fieldset">
                    <div id="example3-card-number" class="field empty"></div>
                    <div id="example3-card-expiry" class="field empty third-width"></div>
                    <div id="example3-card-cvc" class="field empty third-width"></div>
                  </div>
                  <button type="submit" class="btn-primary p-1 pay-btn" data-tid="elements_examples.form.pay_button"><span class="lead">Pay $15</span><br> (Show $100 instant profit opportunity)</button>
                  <div class="error" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                      <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                      <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
                    </svg>
                    <span class="message"></span></div>
                </form>
                <div class="success">
                  <div class="icon">
                    <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                      <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
                    </svg>
                  </div>
                  <h3 class="title" data-tid="elements_examples.success.title">Payment successful</h3>
                  <p class="message"><span data-tid="elements_examples.success.message">Thanks for trying Stripe Elements. No money was charged, but we generated a token: </span><span class="token">tok_189gMN2eZvKYlo2CwTBv9KKh</span></p>
                  <a class="reset" href="#">
                    <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path fill="#000000" d="M15,7.05492878 C10.5000495,7.55237307 7,11.3674463 7,16 C7,20.9705627 11.0294373,25 16,25 C20.9705627,25 25,20.9705627 25,16 C25,15.3627484 24.4834055,14.8461538 23.8461538,14.8461538 C23.2089022,14.8461538 22.6923077,15.3627484 22.6923077,16 C22.6923077,19.6960595 19.6960595,22.6923077 16,22.6923077 C12.3039405,22.6923077 9.30769231,19.6960595 9.30769231,16 C9.30769231,12.3039405 12.3039405,9.30769231 16,9.30769231 L16,12.0841673 C16,12.1800431 16.0275652,12.2738974 16.0794108,12.354546 C16.2287368,12.5868311 16.5380938,12.6540826 16.7703788,12.5047565 L22.3457501,8.92058924 L22.3457501,8.92058924 C22.4060014,8.88185624 22.4572275,8.83063012 22.4959605,8.7703788 C22.6452866,8.53809377 22.5780351,8.22873685 22.3457501,8.07941076 L22.3457501,8.07941076 L16.7703788,4.49524351 C16.6897301,4.44339794 16.5958758,4.41583275 16.5,4.41583275 C16.2238576,4.41583275 16,4.63969037 16,4.91583275 L16,7 L15,7 L15,7.05492878 Z M16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,24.836556 24.836556,32 16,32 Z"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
