
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: blue;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #eee; 
  justify-content: center;
  color: #000;
}

.navbar-brand {
  margin-left: 52px;
}

.brand-logo {
  padding: 13px 24px!important;
}

a.external-link {
  font-size: 18px;
}

a.external-link:hover {
  cursor: pointer;
}



footer {
  background-color: white;
}

h4 {
  font-size: 24px;
}

.table > tbody > tr > td {
  vertical-align: text-top;
}

// table header cursor pointer
table th {
  cursor: pointer!important;
}

// all buttons

.btn {
  font-size: 18px;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.inner {
  width: 80em;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #fff;
}

.help-text {
  margin: 5px 20px 0px 20px;
}

.help-text a {
  color: #117391!important;
  &:hover {
    color: white!important;
  }
}

.help-text a:hover {
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.wrapper {
  background-color: white;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  /*background-image: url("images/fba.zenarbitrage.com.png");
  background-position: 50% 5%;
  background-size: cover;
  opacity: .6;
  filter: blur(3.5px);*/
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.blur-teaser {
  -webkit-filter: blur(3.5px);
  filter: blur(3.5px);
  pointer-events: none;
} 

/*
* Form Container
*/
.form-container {
  background-color: #fff;
  color: #4c4e56; 
  border-radius: 1em;
  width: 50em;
  position: absolute; 
  top: 50vh;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}


.heading {
  color: #fff;
  background-color: #36475E;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  padding: .5rem 3rem!important; 
}

.content {
  text-shadow: none;
  display: block;
  max-width: 40em;
  padding: 1rem!important;
  margin-bottom: 1rem!important;
  margin-top: 10px;
}

.btn-outline-primary:hover {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff
}

.upload-container {
  border-radius: .8em;
  border: solid 1px #d58147;
  margin: 1rem 1rem!important;
  padding: 10px;
}

.inventory-download {
  font-size: 18px;
}

.amz-link {
  font-size: 14px;
}

.box-placeholder {
  border-radius: .8em;
}

.dropzone {
  display: flex;
  height: 15em;
  border-radius: .8em;
  border-color: #DADADA; 
  border-style: dashed;
  align-items: center;
  justify-content: center;
}

.dz-default.dz-message {
  font-size: 16px;
}

.dropzone-wrapper {
  max-width: 50%;
}

.delete {
  font-size: 11px;
}

.complete {
  font-size: 16px;
  color: #1b72e2;
}

.or {
  color: #B4B4B4;
}

/*
Scanning Inventory Step
*/

.scan-inventory {
  display: none;
}

.progress {
  width: 100%!important;
}

.progress-bar {
  background-color: #2980B9;
}

.done:after {
  content: '%';
}

.value {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.value:before {
  content: '$';
}

.trade-in, .buyback {
  width: 70%;
}

.trade-in h4, .buyback h4 {
  color: #000;
  font-weight: 900;
}

.tradin-label, .buyback-label, .value {
  font-size: 24px;
}

.alert {
  color: #A61C00;
  font-weight: 700;
  font-size: 24px;
}

/*
Payment Step
 */

.payment-step {
}

.pay-btn {
  background-color: #3498DB;
}

.form-card input {
  width: 200px;
  margin: 10px auto;
  display: block;
}

.control-label {
  float: left;
  font-size: 18px;
  font-weight: 300;
}

.card-wrapper .fieldset {
  margin-bottom: 15px;
}

#card-errors {
  color: red;
}

.card-wrapper input {
  line-height: 18px;
}

.card-wrapper button {
  display: block;
  width: calc(100% - 50px);
  margin: 0 15px;
  background-color: #3498DB;
  border-radius: 12px;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}

.lead {
  font-size: 24px!important;
  font-weight: 200!important;
}

.email-label {
  font-weight: 700!important;
}

#email {
  width: 58.33%;
}

.card-wrapper .field {
  color: #495057;
  background-color: #fff;
  border-radius: .25rem;
  clear: both;
}

// result show page 
// 
.value-section {
  display: inline-block;
  margin-right: 50px;
}

.result-value {
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
}

span.popspan {
  font-size: 20px;
}

span.soon-checkmark {
  background-color: yellow;
  padding: 0px 2px;
  color: #00c0ff;
  border: solid 1px #ffe4c4;
}

.show-option {
  display: inline-block;
}

.show-option select{
  margin-right: 20px;
  color: #fff;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 40px;
  overflow: hidden;
  width: 160px;
  display: inline-block;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 188px;
}

.semi-square {
  background-color: #3b8ec2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.download {
  margin-top: 45px;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, .5);
}
